<header>
	<div class="jumbotron">
	<h1 class="display-4">News Scraper</h1>
	<span class="lead">Get the latest Headlines!</span>
    <a href="/scrape" class="btn btn-primary" id="btn-scrape"><i class="fa fa-circle-o-notch"></i>Scrape latest news </a>
    <a href='/articles' class="btn btn-info" id="btn-articles">Display latest news</a>
	</div>
</header>

<main class="main-content">
	<div class="container">
		{{> articles}}
	</div>
</main>